@mixin default-transition($element) {
  transition: 0.25s $element ease-in-out;
}
@mixin before-effect() {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: $details-color;
  z-index: -1;
}

@mixin before-circle() {
  content: "";
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 105%;
  left: -12rem;
  top: 0;
  background: $details-secondary-color;
  z-index: -1;
  
  transition: 0.25s all ease-in-out;
}