// COLORS

$petrol: #1a1a1c;
$abbey: #4e4e50;
$crown-of-thrones: #6f2232;
$monarch: #960641;
$shiraz: #c3083f;

$background-color: rgb(243, 243, 243);
$details-color: #9faa8f;
$text-color: #1c1c1c;
$text-color-darken: $abbey;
$text-grey: #242424;

// SPACES

$s1: 1rem;
$s2: 2rem;
$s3: 3rem;
$s4: 4rem;
$s5: 5rem;
$s6: 8rem;
$s7: 10rem;
$s8: 14rem;

// FONTS

$font-size-small: 1.3rem;
$font-size-medium: 1.6rem;
$font-size-large: 1.8rem;
$font-size-big: 3rem;
$font-size-logo: 5rem;

$font-weight-light: 300;
$font-weight-medium: 600;
$font-weight-bold: 700;

$default-font-family: 'Playfair Display', serif;

// BREAKPOINTS

// OTHERS

$default-border-radius: 16px;
$max-width: 1200px;