.button {
  padding: 1rem 4rem;
  color: $text-color;
  font-weight: $font-weight-medium;
  background: none;
  cursor: pointer;
  font-size: $font-size-medium;
  @include default-transition(color);
  border: none;
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.button:hover {
  color: $text-light
}

.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 2px;
  background: $details-color;
  transition: 0.25s height ease-in-out;
  z-index: -1;
}

.button:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: $details-color;
}


.button--light {
  color: $text-light;
}

.button--light:hover {
  color: $text-color;
}

.button--light:hover:before {
  background: $details-secondary-color;
  color: $text-color;
}
