.section {
  width: 100%;
  height: 100%;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column wrap;
  color: #34252f;
  padding: $s4 0;
}

.section__title {
  color: #34252f;
  font-size: $font-size-logo;
  font-weight: $font-weight-light;
  margin: $s5 0;
  text-align: center;
  position: relative;
  transition: 0.25s all ease-in-out;
}

.section__title--hide-pseudo-el:before,
.section__title--hide-pseudo-el:after {
  opacity: 0 !important;
}

.section__title::after {
  content: "";
  width: 15%;
  height: 1px;
  background: $text-color;
  position: absolute;
  right: -20%;
  top: 54%;
  transition: 0.25s all ease-in-out;
  opacity: 1;
}

.section__title:before {
  content: "";
  width: 15%;
  height: 1px;
  background: $text-color;
  position: absolute;
  left: -20%;
  top: 54%;
  transition: 0.25s all ease-in-out;
  opacity: 1;
}

.section__title--light {
  color: $details-secondary-color;
}

.section__title--light::before {
  background: $details-secondary-color;
}

.section__title--light::after {
  background: $details-secondary-color;
}

//.section__title--before::before {
//  content: "";
//  width: 15%;
//  height: 1px;
//  background: $details-color;
//  position: absolute;
//  left: -20%;
//  top: 54%;
//}

@media all and (max-width: 900px) {
  .section__title {
    font-size: $font-size-big;
  }
}
