.section {
    width: 100%;
    height: 100%;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column wrap;
}

.section__title {
    color: $text-color;
    text-align: center;
    font-size: $font-size-big;
    font-weight: $font-weight-medium;
}